/*
px, em, rem, pt, %, vw & vh, cm, mm
em  :   cadratin
rem :   cadratin racine

*/
:root{
    --police-principale: Arial, Helvetica, sans-serif;
    --color-font: #222126;
    --jaune-logo: #F2C438;
    --orange-logo: #F2B544;
    --gris-leger: rgb(242, 242,242); /* F2F2F2 */
    --gris-leger-80: rgba(242, 242,242, 0.8); /* F2F2F2 */
    font-size: 16px;
}

/* Police spéciale */
@font-face{
    font-family: 'Arkham_reg';
    src :   url('../fonts/Arkham_reg.eot');
    src :   url('../fonts/Arkham_reg.eot') format('embedded-opentype'), 
            url('../fonts/Arkham_reg.woff2') format('woff2'),
            url('../fonts/Arkham_reg.woff') format('woff'),
            url('../fonts/Arkham_reg.svg#Arkham_reg') format('svg');
}

*::before, *::after, *{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.galerie{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}



figure.videoExt{
    position: relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

.videoExt iframe{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden
}

figure{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

figcaption{
    padding: 5px;
    text-align: center;
    background-color: var(--gris-leger);
}

figure img{
    margin-left: auto;
    margin-right: auto;
}

img.logo{
    max-width: 25vw;
    max-height: 200px;
    min-width: 100px;
}

audio{
    width: 100%;
}

.rouge-gras{
    color: red;
    font-weight: bold;
}

.rouge-gras::before{
    content: open-quote;
}

.rouge-gras::after{
    content: close-quote;
}

p.triangle::before{
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-width: 10px;
    border-left-color: #f00;
    display: inline-block;
    content: "";
}

.header, .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    flex-wrap: wrap;
}

.ruban{
    width: 50%;
}

.ruban{
    position: absolute;
    text-align: center;
    background-color: red;
    box-shadow: rgba(0,0,0,0.4) 0 0 2px;
    z-index: 2;
}

.ruban::before, .ruban::after{
    content: "";
    position: absolute;
    display: block;
    bottom: -1rem;
    border: 1.5rem solid red;
    z-index: -1;
}

.ruban::before{
    left:-2rem;
    border-right-width: 1.5rem;
    border-left-color: transparent;
}

.ruban::after{
    right:-2rem;
    border-left-width: 1.5rem;
    border-right-color: transparent;
}

.ruban .ruban-contenu::before, .ruban .ruban-contenu::after{
    border-color: darkred transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1rem;
    content: "";
}

#space-invader{
    margin: 70px;
    width: 10px;
    height: 10px;
    background-color: red;
    box-shadow: 0 0 0 10px red,
    0 10px 0 10px red,
    -25px 15px 0 5px red,
    25px 15px 0 5px red,
    -30px -30px 0 0 red,
    30px -30px 0 0 red,
    -20px -20px 0 0 red,
    20px -20px 0 0 red,
    -30px -10px 0 0 red,
    -20px -10px 0 0 red,
    20px -10px 0 0 red,
    30px -10px 0 0 red,
    -40px 0 0 0 red,
    -30px 0 0 0 red,
    30px 0 0 0 red,
    40px 0 0 0 red,
    -50px 10px 0 0 red,
    -40px 10px 0 0 red,
    40px 10px 0 0 red,
    50px 10px 0 0 red,
    -50px 20px 0 0 red,
    50px 20px 0 0 red,
    -50px 30px 0 0 red,
    -30px 30px 0 0 red,
    30px 30px 0 0 red,
    50px 30px 0 0 red,
    -20px 40px 0 0 red,
    -10px 40px 0 0 red,
    10px 40px 0 0 red,
    20px 40px 0 0 red;
}

.ruban .ruban-contenu::before{
    left: 0;
    border-width: 1rem 0 0 1rem;
}

.ruban .ruban-contenu::after{
    right: 0;
    border-width: 1rem 1rem 0 0;
}

.badge, .imgBG, .imgMG, .imgFG{
    width: 338px;
    height: 338px;
    margin-left: auto;
    margin-right: auto;
}

.imgBG, .imgMG, .imgFG{
    position: absolute;
}

.imgBG{
    background: url('../images/superposition/logo-pt1.png');
    z-index: 1;
}

.imgMG{
    background: url('../images/superposition/logo-pt2.png');
    z-index: 2;
}

.imgFG{
    background: url('../images/superposition/logo-pt3.png');
    z-index: 3;
}

h1{
    margin: 0;
    text-align: center;
    padding: 0 10px;
    font-family: 'Arkham_reg';
    color: var(--jaune-logo);
}

a button{
    cursor: pointer;
}

body{
    font-family: var(--police-principale);
    margin: 0;
    background-color: #000;
    background: linear-gradient(to right, rgba(34,33,38,0.6), rgba(0,0,0,1)),
                url('../images/city-black-n-white.png') bottom left fixed repeat-x, #000;
}

body > header, body > footer{
    background-color: var(--color-font);
}

body > main{
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--gris-leger-80);
}

body > nav > ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    line-height: 2rem;
    flex-wrap: wrap;
    background-color: var(--color-font);
}

body > nav > ul > li > a, 
body > nav > ul > li > a:visited, 
body > footer > .footer > nav > ul > li > a,
body > footer > .footer > nav > ul > li > a:visited
{
    text-decoration: none;
    padding: 0 15px;
    display: block;
    color: var(--jaune-logo);
    text-transform: uppercase;
}

body > footer > .footer > nav > ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

body > nav > ul > li > a:hover, 
body > nav > ul > li > a:focus, 
body > footer > .footer > nav > ul > li > a:hover,
body > footer > .footer > nav > ul > li > a:focus{
    background-color: var(--jaune-logo);
    color: var(--color-font);
}

body > nav > ul > li > a.activeNavLink{
    background-color: var(--jaune-logo);
    color: var(--color-font);
}

body > main > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body > main section > article{
    width: 100%;
    padding: 5px;
}

body > footer > .footer > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

body > footer > .footer > ul > li{
    text-align: center;
}

body > footer > .footer > ul > li > a{
    line-height: 2rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    body > main, .header, .footer {
        max-width: 540px;
    }
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body > main, .header, .footer {
        max-width: 720px;
    }

    body > main > section > article{
        width: 50%;
    }

    body > main > section > article:last-child:nth-of-type(odd){
        width: 100%;
    }

    body > main > section > article:last-child:nth-of-type(odd) > header > h2, 
    body > main > section > article:last-child:nth-of-type(odd) > header > h3{
        text-align: center;
    }

    body > footer > .footer > ul{
        width: 33%;
    }

    body > footer > .footer > nav.navFooter > ul > li > a{
        text-align: left;
    }

    body > footer > .footer > nav > ul > li > a{
        text-align: right;
    }
 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body > main, .header, .footer {
        max-width: 960px;
    }
 }
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body > main, .header, .footer {
        max-width: 1140px;
    }

    body > main > section > article{
        width: 33%;
    }

    body > main > section > article:last-child:nth-child(2){
        width: 66%;
    }

    body > main > section > article:last-child:nth-child(3){
        width: 33%;
    }

 }
/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    body > main, .header, .footer {
        max-width: 1320px;
    }
 }

 @media (print){
    body > header, body > nav, body > footer, article > footer{
        display: none;
    }
 }